<div>
    <div>
        <form class="form-inline">
            <span><input class="form-control" type="text" class="form-control form-group" id="query" ng-model="query" /></span>
            <select class="form-control " ng-class="jobOptions == employees.Employees.JobTitle ? jobOptions : !jobOptions" ng-change="selectAction()" ng-options="jobs for jobs in jobOptions" ng-model="selected_items"></select>
            <input class="form-control btn btn-primary clear" value="Submit" type="button" ng-click="click = selected_items || query; clearSearch()" />
        </form>
    </div>
    <!--EDIT EMPLOYEE MODAL-->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Employee Record</h4>
                </div>
                <div class="modal-body">
                    <div><input type="text" placeholder="First Name" ng-model="modelFirstName" /> </div>
                    <div><input type="text" placeholder="Last Name" ng-model="modelLastName" /> </div>

                    <div><input type="text" placeholder="Location" ng-model="modelLocation" /> </div>
                    <div><input type="text" placeholder="Email Address" ng-model="modelEmail" /> </div>
                    <div><input type="text" placeholder="Phone Number" ng-model="modelPhone" /> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-confirm-click="Are you sure you want to delete?" ng-click="updateEmployee(test)" data-dismiss="modal">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--ADD EMPLOYEE MODAL-->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a New Employee</h4>
                </div>
                <form name="newEmployeeForm">
                    <div class="modal-body">
                        <div><input type="text" placeholder="First Name" ng-model="firstName" required /> </div>
                        <div><input type="text" placeholder="Last Name" ng-model="lastName" required /> </div>
                        <div>
                            <select ng-options="value as value for value in jobOptions" ng-model="jobTitle">
                                <option value="" disabled selected>Job Title</option>
                            </select>
                        </div>
                        <div><input type="text" placeholder="Location" ng-model="location" required /> </div>
                        <div><input type="text" placeholder="Email" ng-model="email" required /> </div>
                        <div><input type="text" placeholder="Phone Number" ng-model="phoneNumber" required /> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="createEmployee()" ng-disabled="newEmployeeForm.$invalid" data-dismiss="modal">Save changes</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div>
        <table class="table table-bordered table-responsive">
            <tr>
                <th>Employee Name</th>
                <th>Job Title</th>
                <th>Location</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="item in employees.Employees | filter: click">
                <td>{{item.FirstName + " " + item.LastName}}</td>
                <td>{{item.JobTitle}}</td>
                <td>{{item.Location}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.PhoneNumber}}</td>
                <td><button class="edit-buttons" data-toggle="modal" data-target="#editModal" ng-click="updateClick($index)"><i class="glyphicon glyphicon-edit"></i></button></td>
                <td><button class="edit-buttons" confirm="Are you sure you want to delete?" ng-click="deleteEmployee($index)"><i class="glyphicon glyphicon-trash"></i></button></td>
            </tr>
            <tr></tr>
        </table>
    </div>

</div>
