<div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a New Employee</h4>
                </div>
                <div class="modal-body">
                    <div><input type="text" placeholder="Name" ng-model="employeeName" /> </div>
                    <div><input type="text" placeholder="Job Title" ng-model="employeeJobTitle" /> </div>
                    <div><input type="text" placeholder="Location" ng-model="employeeLocation" /> </div>
                    <div><input type="text" placeholder="Email Address" ng-model="employeeEmail" /> </div>
                    <div><input type="text" placeholder="Phone Number" ng-model="employeeNumber" /> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewEmployee()" data-dismiss="modal">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employeeArray">
                    <td>{{employee.name}}</td>
                    <td>{{employee.jobTitle}}</td>
                    <td>{{employee.location}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>