<div>
    <div>
        <nav>
            <h2>Employee Directory 3000</h2>
            <input type="button" class="login-button btn btn-primary directory-nav" ng-click="logout()" value="Logout" />

            <input type="button" data-toggle="modal" data-target="#addModal" class="login-button btn btn-primary directory-nav" value="Add New Employee" />
        </nav>
    </div>
    <!--ADD NEW EMPLOYEE MODAL-->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a New Employee</h4>
                </div>
                <div class="modal-body">
                    <div><input type="text" placeholder="Name" ng-model="employeeName" /> </div>
                    <div><input type="text" placeholder="Job Title" ng-model="employeeJobTitle" /> </div>
                    <div><input type="text" placeholder="Location" ng-model="employeeLocation" /> </div>
                    <div><input type="text" placeholder="Email Address" ng-model="employeeEmail" /> </div>
                    <div><input type="text" placeholder="Phone Number" ng-model="employeeNumber" /> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewEmployee()" data-dismiss="modal">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--EDIT EMPLOYEE MODAL-->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a New Employee</h4>
                </div>
                <div class="modal-body">
                    <div><input type="text" placeholder="Name" ng-model="modelName" /> </div>
                    <div><input type="text" placeholder="Job Title" ng-model="modelJobTitle" /> </div>
                    <div><input type="text" placeholder="Location" ng-model="modelLocation" /> </div>
                    <div><input type="text" placeholder="Email Address" ng-model="modelPhone" /> </div>
                    <div><input type="text" placeholder="Phone Number" ng-model="modelEmail" /> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="editEmployee(test)" data-dismiss="modal">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--Search Field and List of Employees by name-->
    <div><input ng-model="searchText" placeholder="Search..." class="form-control" /></div>
    <div class="col-xs-5 panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="employee in directory | filter: searchText">
                <a class="list-group-item" ng-click="editClick($index)">
                    {{employee.name}}
                </a>
                <button class="edit-buttons" data-toggle="modal" data-target="#editModal" ng-click="editClick($index)"><i class="fa fa-pencil-square-o"></i></button>
                <button class="edit-buttons" ng-click="deleteEmployee($index)"><i class="fa fa-trash-o"></i></button>
            </li>
        </ul>
    </div>

    <!--Default message if no employee is currently selected-->
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img src="" />
                </div>
                <div class="user">
                    <img class="img-circle" src="../../img/DefaultImage.jpg" />
                </div>
                <div class="content">
                    <div class="main">
                        <h3 class="name">{{employeeObj.name}}</h3>
                        <p class="profession">{{employeeObj.jobTitle}}</p>
                        <h5><i class="fa fa-map-marker fa-fw text-muted"></i>{{employeeObj.location}}</h5>
                        <h5><i class="fa fa-phone fa-fw text-muted"></i>{{employeeObj.phone}}</h5>
                        <h5><i class="fa fa-envelope-o fa-fw text-muted"></i>{{employeeObj.email}}</h5>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            Flip
                        </button>
                    </div>
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                </div>
                <div class="content">
                    <div class="main">
                        <h4 class="text-center">Experince</h4>
                        <p>Inna was working with our team since 2012.</p>
                        <h4 class="text-center">Areas of Expertise</h4>
                        <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                        <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                        <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->
    </div> <!-- end card-container -->
</div>

